{% extends "base.html" %}

{% block pagetitle %}Astro-Coffee@Princeton{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>Astro-coffee calendar</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row no-mathjax">
  <div class="small-12 columns">
	<p>This page redirects you (in 5 seconds) to the calendar of astro-coffee hosts. If you encounter a scheduling 
	   conflict that makes you unable to host one of your scheduled sessions please 
	   arrange to swap dates with another host, and reach out to the coffee adminstrator, 
	   <a href="mailto:draine@astro.princeton.edu"> Bruce Draine </a> to implement the change. 

	<p>If you are not automatically redirected in 5 seconds, the calendar can be found here: 
	   <a href="https://www.astro.princeton.edu/~draine/astrocoffee.pdf">astrocoffee.pdf</a><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i> 
	</p>

  </div>
</div>

{% end %}

{% block pagejs %}

<meta http-equiv="refresh" content="5; url='https://www.astro.princeton.edu/~draine/astrocoffee.pdf'" />

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}

