{% extends "base.html" %}

{% block pagetitle %}Astro-Coffee@Princeton{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row no-mathjax">
  <div class="small-12 columns">
    <h1>Congratulations, you have hopefully updated the arxiv listing!</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row no-mathjax">
  <div class="small-12 columns">
  <p>Please use this page responsibly. If the listings are not up to date after reloading the  please let <a href="remyj@astro.princeton.edu"> Remy Joseph </a> or <a href="remyj@astro.princeton.edu"> Bruce Draine </a> know about the issue. </p>
  </div>
</div>

{% end %}

{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}